@use '../../css/mixin';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 290px;
    max-height: 304px;
    border-radius: 24px;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);

    &_title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 22px 0 30px;
        background-color: #0A0B0B;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    &_img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        object-position: center 25%;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
}

@include mixin.vp-1400 {
    .card {

    }
}