// @use '../../../base.scss';
@use "../../../css/variables";
@use "../../../css/mixin";

.movie_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  row-gap: 64px;
  list-style: none;
  animation: openList 1s;

  &__item {
    position: relative;
    transition: transform 0.2s ease-in;

    &:hover,
    &:focus-visible {
      transform: scale(1.03);
    }

    &_img {
      width: 100%;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    &_none {
      display: flex;
      width: 224px;
      height: 336px;
      background-color: rgba(0, 0, 0, 0.2);
      font-weight: 700;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      text-align: center;
      white-space: normal;
    }

    &_none,
    img {
      border-radius: 16px;
      box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
    }
  }

  &__btn-close {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -20px;
    right: -20px;
    box-shadow: 0px 0px 80px 0px rgba(variables.$montana, 0.9);
    opacity: 0;
    appearance: none;
    transition: opacity 0.3s ease-in;

    svg {
      height: 19px;
      width: 19px;
      transform: scale(0.7) translate(-1px, 2px);
    }
  }

  &__item:hover &__btn-close {
    opacity: 1;
    appearance: initial;
  }

  img {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  a {
    cursor: pointer;
  }
  &__num {
    position: absolute;
    top: -12px;
    left: -12px;
    padding: 8px 24px;
    color: rgba(106, 93, 194);
    font-weight: 700;
    background-color: white;
    border-radius: 50px;
  }
}
.remove {
  opacity: 1;
  animation: removeItem 1s;
}

@include mixin.vp-1400 {
  .movie_list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: min-content;
    gap: 30px;
    row-gap: 55px;

    &__item_img {
      min-height: 300px;
      min-width: 200px;
    }
  }
}

@include mixin.vp-1023 {
  .movies {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-bottom: 20px;
    cursor: grab;
  }

  .movies::-webkit-scrollbar {
    display: none;
  }

  .movie_list {
    display: flex;
    padding: 40px 20px;
    // box-sizing: border-box;
    width: fit-content;
    margin-right: 40px;

    &__item {
      &_none,
      img {
        box-shadow: 0px 0px 32px 0px rgba(255, 255, 255, 0.3);
      }
    }
  }
}

@include mixin.vp-600 {
  .movies {
    margin-left: -20px;
  }
}

@keyframes openList {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes removeItem {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
