@use '../../css/mixin';


.movie-video {
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  &__wrapper {
   position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

  &__content {
    position: relative;
    min-width: 960px;
    min-height: 540px;
  }

  &__btn {
    position: absolute;
    right: -68px;
    top: 0;
    background: url('/icon/axis.svg'), white;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    width: 48px;
    height: 48px;

    border-radius: 50%;
  }
}

@include mixin.vp-1400 {
  .movie-video {
    &__content {
      min-width: 800px;
      min-height: 450px;
    }
  }
}

@include mixin.vp-1023 {
  .movie-video {
    &__content {
      min-width: 620px;
    min-height: 349px;
    }

    &__btn {
        right: -50px;
        top: -15px;
        width: 36px;
        height: 36px;
        background-size: 18px 18px;
      }
  }
}

@media (orientation: landscape) and (max-width: 767px)  {
  .movie-video {
      &__content {
      min-width: 540px;
      min-height: 303px;
      }

      &__btn {
        right: -40px;
        top: -15px;
        width: 30px;
        height: 30px;
        background-size: 12px 12px;
      }

  }
}

@media (orientation: portrait)  and (max-width: 767px) {
   .movie-video {
      &__content {
        min-width: 303px;
        min-height: 205px;
      }

      &__btn {
        right: -40px;
        top: -15px;
        width: 30px;
        height: 30px;
        background-size: 12px 12px;
      }

  }

}




