@use "../../css/mixin";
@use "../../css/variables";

.auth {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;

  &__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 24px;
    z-index: 4;
    align-items: flex-start;
  }

  &__text-overlay {
    max-width: 420px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 24px;
    padding: 64px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    padding: 12px;
    background-color: #fff;
    border-radius: 24px;
    cursor: pointer;

    &_icon {
      width: 24px;
      height: 24px;
      transform: translate(2px, 3px);
    }
  }

  &__logo {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 157px;
    height: 35px;
  }
}

.form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__title {
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
  }

  &__input {
    @include mixin.input-style;
    @include mixin.play-reg;
    padding-left: 36px;
    height: 24px;
    color: #000;

    &:focus-visible {
      outline: none;
    }

    &_wrapper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 8px;
      transition: border 0.3s ease-in;

      &:before {
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease;
      }

      &-email::before {
        width: 24px;
        height: 24px;
        -webkit-mask-image: url("../../../public/icon/mail.svg");
        mask-image: url("../../../public/icon/mail.svg");
        background-color: rgba(variables.$black-color, 0.4);
        transform: translate(16px, 16px);
      }

      &-password::before {
        width: 22px;
        height: 12px;
        -webkit-mask-image: url("../../../public/icon/key.svg");
        mask-image: url("../../../public/icon/key.svg");
        background-color: rgba(variables.$black-color, 0.4);
        transform: translate(16px, 22px);
      }

      &-man::before {
        width: 16px;
        height: 22px;
        -webkit-mask-image: url("../../../public/icon/man.svg");
        mask-image: url("../../../public/icon/man.svg");
        background-color: rgba(variables.$black-color, 0.4);
        transform: translate(16px, 17px);
      }
    }

    &_wrapper:nth-last-of-type(1) {
      margin-bottom: 12px;
    }

    &::placeholder {
      @include mixin.input-style;
      color: rgba(0, 0, 0, 0.4);
    }

    &_wrapper:has(:focus-visible) {
      border-color: variables.$perano;

      &::before {
        background-color: variables.$perano;
      }
    }

    &_error {
      border-color: variables.$salmon;

      &::before {
        background-color: variables.$salmon;
      }
    }

    &_error:has(:focus-visible) {
      border-color: variables.$fire-brick;
      &::before {
        background-color: variables.$fire-brick;
      }
    }
  }

  &__text {
    color: variables.$black-color;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  &__text ~ &__btn_main {
    margin-bottom: 0;
  }

  a {
    display: flex;
  }

  &__btn {
    @include mixin.button-style-main;
    @include mixin.button-secondary-hover;
    display: flex;
    align-items: center;
    justify-content: center;

    &_main {
      @include mixin.button-style-main;
      @include mixin.button-primary-default;
      padding: 16px;
      margin-bottom: 12px;
      width: 100%;
    }

    &:disabled {
      background-color: variables.$dim-grey;
    }
  }

  &__text-error {
    color: variables.$salmon;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
}

@include mixin.vp-767 {
  .auth {
    &__text-overlay {
      padding: 64px 20px 32px;
    }

    &__logo {
      width: 132px;
      height: 29px;
      margin-bottom: 32px;
    }
    &__btn {
      position: absolute;
      right: 8px;
      top: 8px;
    }

    &__wrapper__mobile {
      .auth {
        &__logo {
          margin-bottom: 15px;
        }
      }

      .form {
        &__title {
          font-size: 20px;
          line-height: 28px;
        }

        &__input_wrapper {
          padding: 12px;
        }

        &__btn_main {
          padding: 12px;
        }
      }
    }
  }

  .form {
    &__wrapper {
      min-width: 295px;
    }

    &__btn_main {
      margin-bottom: 24px;
    }
    &__input_wrapper {
      &-email::before {
        transform: translate(16px, 12px);
      }

      &-password::before {
        transform: translate(16px, 18px);
      }

      &-man::before {
        transform: translate(16px, 12px);
      }
    }
  }
}

@include mixin.vp-600 {
  .auth {
    &__wrapper__mobile {
      min-width: 75%;

      .form {
        &__text {
          font-size: 16px;
        }
      }
    }
  }
}
