@use "../../css/mixin";
@use "../../css/variables";

.movie {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 370px;
  gap: 40px;
  padding-bottom: 43px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__details,
  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text {
    flex-direction: row;
    align-items: center;
    color: rgba(#fff, 0.7);
  }

  &__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin: 0;
    max-width: 810px;
  }

  &__descr {
    margin: 0;
    color: rgba(variables.$white-color, 0.7);
  }

  &__poster {
    max-height: 552px;

    &-img {
      object-fit: cover;
      border-radius: 16px;
      max-height: 552px;
      width: 100%;
    }
  }

  &__poster_none {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 410px;
    min-height: 552px;
    border-radius: 16px;
    background-color: variables.$black-color;
    padding: 20px;
    text-align: center;
  }

  &__stars {
    position: relative;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 12px;
    border-radius: 16px;
    line-height: 28px;
    font-weight: 700;
    color: variables.$white-color;
  }

  &_btn_group {
    display: flex;
    gap: 16px;

    &_secondary {
      display: flex;
      gap: 16px;
    }
  }

  &__btn {
    @include mixin.button-style-main;
    @include mixin.button-secondary-default;
    padding: 16px 48px;
    border: 1px solid rgba(variables.$black-color, 0.4);
    background-color: variables.$montana;
    white-space: nowrap;
    display: flex;
    align-items: center;

    &-svg {
      padding: 16px 22px;
      background-color: variables.$dark-gray;
    }

    &_icon {
      width: 20px;
      height: 20px;
      color: #fff;
    
      use {
        fill: currentColor;
      }

      // &-like {
      //   color: rgb(255, 255, 255);

      //   use{
      //   fill: currentColor;
      // }
      // }

      &-favorite {
        width: 20px;
        height: 20px;
        color: #b4a9ff;

        use {
          fill: currentColor;
        }
      }
    }
  }

  .favorite {
    position: relative;
    
    .movie__btn_icon {
      color: variables.$perano;
      animation: heart .3s ;
    }
  }

  .favorite-none {
    position: relative;

    .movie__btn_icon {
      color: variables.$white-color;
      animation: heart-leave .3s ;
    }
  }

  &__video {
    position: absolute;
    z-index: 5;
    margin: 0 auto;
  }

  .active {
    @include mixin.button-primary-default;
  }

  &__btn:has(.movie__icon) {
    padding: 16px 22px;
  }

  &__icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
}

@include mixin.vp-1400 {
  .movie {
    grid-template-columns: 2fr 1fr;

    &__stars {
      font-size: 18px;
    }

    &__text {
      font-size: 20px;
    }

    &__descr {
      font-size: 22px;
    }

    &__title {
      font-size: 40px;
      line-height: 46px;
      max-width: 650px;
    }

    &__poster_none {
      max-width: 300px;
      min-height: 400px;
    }
  }
}

@include mixin.vp-1023 {
  .movie {

    &_btn_group {
      flex-wrap: wrap;
    }
    &__btn {
      padding: 16px 40px;
    }

    &__descr {
      @include mixin.body-18-reg;
    }

    &__stars {
      font-size: 18px;
    }

    &__text {
      font-size: 18px;
      flex-wrap: wrap;
      row-gap: 3px;
    }

    &__title {
      font-size: 32px;
    }

    &__poster_none {
      font-size: 18px;
      line-height: 24px;
      max-width: 250px;
      min-height: 350px;
    }

    .active {
          width: 70%;
          justify-content: center;
    }
  }
}

@include mixin.vp-767 {
  .movie {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    padding: 0;

    &__info {
      padding: 24px 0;
      padding-bottom: 40px;
    }

    &__title {
      @include mixin.body-24-bold;
    }

    &__text {
      font-size: 14px;
      flex-wrap: wrap;
      row-gap: 5px;
    }

    &__details {
      gap: 12px;
    }

    &__poster {
      max-height: 320px;
      overflow: hidden;
      border-radius: 16px;

      &-img {
        object-fit: contain;
        object-position: center -30px;
        max-height: max-content;
        height: 100%;
      }
    }

    &__poster_none {
      font-size: 18px;
      line-height: 24px;
      width: 100%;
      max-width: none;
      min-height: 320px;
    }

    &_btn_group {
      justify-content: center;
    }

    &__stars {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@include mixin.vp-600 {
  .movie {
    margin-bottom: 32px;

    .active {
    display: flex;
    width: 100%;
    justify-content: center;
  }
    
    &_btn_group {
      flex-direction: column;
      align-items: center;

      &-card {
        display: grid;
        grid-template-columns: 4fr 1fr;

      }
    }

    &__info {
      gap: 32px;
      padding: 24px 0;
    }

    &__poster {
      max-height: 234px;
    }
    &__poster_none {
      min-height: 234px;
    }

    &__btn-svg {
      padding: 16px 22px;
    }
  }
}

@keyframes heart {
  from {
    color: variables.$white-color;
  }
  to {
    color: variables.$perano;
  }
}

@keyframes heart-leave {
  from {
    color: variables.$perano;
  }
  to {
    color: variables.$white-color;
  }
}
