:root {
  font-family: "Play", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--background);
  background-image: linear-gradient(180deg, #000000da 0%, rgba(39, 36, 36, 0.7) 100%), 
    linear-gradient(178.73deg, rgba(39, 135, 245, 0.9) -17.53%, rgba(163, 147, 245, 0.9) 131.74%);
  font-family: "Play", sans-serif;
  font-size: 24px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  // background-color: #1a1a1a;
  cursor: pointer;
}