//Colors
$white-color: #fff !default;
$cornflower-blue:#67A5EB !default;
$east-bay: #45526E !default;
$black-color: black !default;

$grey: #777777 !default;
$dim-grey: #747474 !default;
$montana: #393b3c !default;
$dark-gray: #333 !default;
$luchy: #A59400 !default;
$forest-green: #308e21 !default;
$fire-brick: #C82020 !default;
$salmon: #FF7575 !default;
$heliotrope: #DC5DFC !default;
$perano: #B4A9FF !default;


//Viewport
$vp-desktop: 1400px;
$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-mobile-min: 600px;