
@use '../../../css/mixin';
@use '../../../css/variables';

.header-search {
    &__list {
        display: flex;
        flex-direction: column;
        padding: 8px;
        list-style: none;
        position: absolute;
        min-width: 560px;
        background-color: variables.$montana;
        z-index: 3;
        top: 60px;
        right: 0;
        border-radius: 6px;
        box-shadow: 0px 0px 6px 1px rgba(variables.$east-bay, 0.5);
        animation: showList .4s ease-in;

        @include mixin.vp-1400 {
            min-width: 350px;
        }

        &-close {
            opacity: 0;
            pointer-events: none;
            animation: closeList .2s ease-in;
        }

        &_item {
            outline: 1px solid transparent;
            border-radius: 6px;
            transition: outline .3s ease-in;
            animation: showList .4s;

            &:hover, &:focus-visible {
                outline: 1px solid rgba(variables.$white-color, 0.4);
            }
        }
    }
    &__container{
        padding: 20px 8px;
        display: flex;
        gap: 16px;
        align-items: center;

        @include mixin.vp-1400 {
            display: grid;
            grid-template-columns: 35px 1fr;
            padding: 5px 8px;
        }
    }

    &__img {
       max-width: 40px;
       max-height: 52px; 
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mixin.vp-1400 {
            flex-direction: row-reverse;
            align-items: center;
            gap: 20px;
        }
    }
    &__text{
        display: flex;
        gap: 12px;
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        @include mixin.vp-1400 {
            flex-direction: column;
            align-items: flex-end;
            gap: 3px;
        }
    }

    &__genre, &__runtime {
        @include mixin.vp-1400 {
            text-align: right;
        }
    }

    &__stars {
        // position: relative;
        display: flex;
        gap: 4px;
        align-items: center;
        padding: 2px 8px;
        border-radius: 16px;
        font-weight: 700;
        color: variables.$white-color;

        img {
            width: 10px;
            height: 10px;
        }
    }

    &__title{
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
    }

    &__notice {
        font-size: 18px;
        line-height: 20px;
        padding: 8px 20px;
        opacity: 1;
        transition: opacity .3s ease;
    }
}

@keyframes showList {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes closeList {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}